.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo{
  background: #7ec2d4;
  height: 3vh;
  
}
.logoClass{
  display: flex;
  width: 100%;
  background: #7ec2d4;
}


.home{
  color: #183D5B
}

.subcriptions{
  list-style-type: none;
  display:flex;
  justify-content: column;
}
.subcriptionsList{
  border: 1px solid #183D5B;
  margin: 2px;
  border-radius: 5px;

}
.subcriptionsSubmit{
  cursor: pointer;
}

.subcriptionsSubmitContainer{
  width: 100%;
  background: #669dac;
  height: 40px;
  display: flex;
  justify-content: center;
}
